<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ha.mapper.MemberMapper">

	<!--회원 가입 -->
	<insert id="memberJoin">
		insert into
		cos_member(id,memberId,memberPw,memberName,phone,Email,
		Addr1,Addr2,Addr3) values(ID_SEQ.NEXTVAL,#{memberId},
		#{memberPw},
		#{memberName}, #{phone}, #{Email}, #{Addr1},
		#{Addr2},
		#{Addr3})
	</insert>

	<select id="idCheck" resultType="int">

		select count(*) from cos_member
		where memberId = #{memberId}

	</select>

	<!-- 로그인 -->
	<select id="memberLogin" resultType="UserDTO">

		select
		U.id,
		U.memberId,
		U.memberPw,
		U.memberName,
		U.phone,
		U.Email,
		U.Addr1,
		U.Addr2,
		U.Addr3,
		U.ROLE,
		P.point
		FROM 
		cos_member U
		LEFT
		JOIN
		(SELECT MEMBER_ID, SUM(POINT) POINT FROM COS_POINT GROUP BY MEMBER_ID) P
		ON
		U.ID = P.MEMBER_ID
		WHERE U.memberId = #{memberId }

	</select>
</mapper>
  